header{
    background-color: #F0FFF0;
}

.img-nav{
    width: 198px;
    height: 59px;
}
.bg{
    background-color: #F0FFF0;
}
.custom-btn{
    text-decoration: none;
    border: none;
    border-radius: 33px;
    background-color: #21B573;
    color: white;
    width: 120px;
    height: 43px;

}
.nav-link{
    font-weight: bold;
    

}
.container{
    margin-bottom: 100px;
}

.section-1{
    height: 400px;
}

.icon-card img{
    width: 66px;
    height: 85px;
}
.icon-card{
    
    height: 270px;
    border-radius: 10px;
    
    padding-top: 30px;
    
    text-align: center;
    margin-top: 30px;
}

p{
    color: gray;
}
.icon-card:hover{
    box-shadow: 10px 10px 30px lightgray;
}

.card{
    border: none;
    border-radius: 11px;
    box-shadow: 10px 10px 30px lightgray;
    padding: 20px;
}
.card:hover{
    box-shadow: 20px 20px 60px lightgray;
}

.card-footer img{
    width: 20px;
    padding-right: 4px;
    padding-bottom: 5px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.calendar, .people{
    color: #585859;
}

.man-pc{
    width: 120px;
    height: 120px;
    border: 50%;
    margin-left: 160px;
}
.section2{
    height: 200px;
}
.section-3{
    height: 650px;
}

footer{
    background-color: #282531;
    
}











